# Git and Docker configuration
.git
.gitignore
.dockerignore
Dockerfile

# Python virtual environments
.venv
venv
env
/env/

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd

# IDE and editor configuration folders
.idea/
.vscode/

# Build and distribution artifacts
/dist
/build
*.egg-info
*.egg

# Local data and testing files
*.db
*.sqlite3
/tests
/test-data

# Operating System files
.DS_Store
Thumbs.db
